head{
    text-align: center;
}

body{
   text-align: center;
}

cast{
    
    color:blue;
}
story{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
